html, body {
  font-family: 'Lato', sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

.font-fjalla {
  font-family: 'Fjalla One', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 12px;
  margin: 0 auto;
}

.header .header__black-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1d1d;
  color: #fff;
  padding: 5px;
  height: 3rem;
}

@media (max-width: 768px) {
  .header .header__black-banner {
    display: none;
  }
}

.header .header__black-banner__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.header .header__black-banner__container ul {
  display: flex;
  gap: 1rem;
}

.header .header__black-banner__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header .header__black-banner__actions__find {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 4px 8px;
  border: 1px solid #fff;
  border-radius: 9999px;
}

.header .header__main {
  padding: 24px 0;
}

.header .header__main__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.header .header__main__links-and-button {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  .header .header__main__links-and-button {
    display: none;
  }
}

.header .header__main__links {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.header .header__main__button {
  background-color: #fc654f;
  color: #fff;
  padding: 6px 10px;
}

.header .header__main__burger {
  display: none;
}

.header .header__main__burger__wrapper > * {
  width: 24px;
  height: 3px;
  background-color: #070707;
  cursor: pointer;
}

.header .header__main__burger__wrapper > * ~ * {
  margin-top: .375rem;
}

@media (max-width: 768px) {
  .header .header__main__burger {
    display: initial;
  }
}

main {
  flex: 1 1 auto;
}

footer {
  background-color: #1d1d1d;
  color: #fff;
  padding: 24px 0;
}
